<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.synergy360.kiosk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="360 Synergy Kiosk (Lite)"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
